.page-header {
    background-color: #b5c7d3;
    font-size:calc(15px + 2vh); 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    /* font */
    height:50px;
}